.buttonUI{
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: large;
}

#Rounded_button{
    /* background-color: rgb(0, 138, 212); */
    background-color: rgb(55, 149, 200);
    border: none;
    border-radius: 40px;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}