#main_navbar{
    width: 200px;
    /* background-color: rgb(152, 152, 152); */
    border-right: 2px solid gray;
    position: fixed;
    height: 100vh;
}


.navbar_option{
    display: flex;
    height: 50px;
    align-items: center;
    transition: 0.2s;
    color: rgb(86, 86, 86);
}

a{
    text-decoration: none;
}

.navbar_option img{
    margin-left: 15px;
    height: 50%;
    margin-right: 5px;
}

.navbar_option p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight:bold;
}

.navbar_option:hover{
    background-color: rgb(197, 197, 197);
}

@media screen and (max-width:900px){
    #main_navbar{
        width: 100vw;
        height: 40px;
        border-width: 0px 0px 2px 0px;
        border-color: gray;
        border-style: solid;
    }
    #main_navbar nav{
        display: flex;
        justify-content: space-between;
    }
    .navbar_option{
        height: 40px;
        margin: 0px 10px 0px 10px;
    }
    
    .navbar_option img{
        margin-left: 0px;
    }
    .link{
        width: 25%;
        display: flex;
        justify-content: center;
        border-width: 0px 1px 0px 1px;
        border-color: gray;
        border-style: solid;
    }
    .link:hover{
    background-color: rgb(197, 197, 197);
}
}

@media screen and (max-width:500px) {
    .navbar_option img{
        display: none;
    }
}