.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex: 1;
  margin-top: 55px;
}

.content {
  margin-left: 200px;
  flex: 1;
  padding: 10px;
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: auto;
}