.content{
  width: 100%;
}

svg{
  width: 100%;
}

path {
  fill: #02203c;      
  stroke: #ffffff;
  opacity: 1;    
  stroke-width: 0.5px; 
  cursor: pointer;
}

path:hover {    
  opacity: 0.9 !important;   
  z-index: 100;
  cursor: pointer;   
}