#header_container{
    background-color: rgb(0, 1, 53);
    height: 55px;
    width: 100%;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_left_side , #header_right_side{
    height: 100%;
}

/* #header_left_side{
    width: 300px;
}

#header_left_side img{
    height: 100%;
    margin-left: 10px;
} */

#header_right_side{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10px;
}

#header_right_side a{
    padding: 18px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

#header_right_side a:hover{
    transition: 0.3s;
    background-color: rgb(20, 23, 86);
}

.search_container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0 15px; 
  width: 250px;
}

.search_input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #333;
}

.search_icon {
  font-size: 14px;
  cursor: pointer;
  color: #666;
}