#container{    
    margin: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#container select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-color:rgb(255, 255, 255) ;
    margin-left: 10px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.95rem;
    border-radius: 2px;
    border-width: 0px 0px 1px 0px;
   
}

#container textarea{
    margin-left: 10px;
    padding-left: 10px;
}

#container select:hover{
    background-color: rgb(199, 199, 199);
}

#container select:focus{
    outline: none;
}

#container textarea{
    resize: none;
}

#imagePreview{
    width: 600px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: scroll;
}


#dropdownMenu{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.formInput{
    margin-bottom: 20px;
}

#dropdownLabelSide{
    width: 50%;
}

#dropdownSide{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#dropdownSide select{
    margin-bottom: 13px;
}

