/* html{
    background-color: rgb(224, 231, 241);
    color: white;
} */

#container{    
    /* background-color: rgb(96, 96, 96); */
    background-color: rgb(224, 231, 241);
    margin: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#container select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-color:rgb(255, 255, 255) ;
    margin-left: 10px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.95rem;
    border-radius: 2px;
    border-width: 0px 0px 1px 0px;
   
}

#container textarea{
    margin-left: 10px;
    padding-left: 10px;
}

#container select:hover{
    background-color: rgb(199, 199, 199);
}

#container select:focus{
    outline: none;
}

#container textarea{
    resize: none;
}

#imagePreview{
    width: 100%;
}


#dropdownMenu{
    /* border-bottom: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.formInput{
    margin: 20px;
}

#dropdownLabelSide{
    width: 50%;
}

#dropdownSide{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#dropdownSide p{
    margin: 20px;
}

#dropdownSide select{
    margin-bottom: 13px;
}

#loadingContainer{
    position: fixed;
    top:0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.73);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loadingPopup{
    width: 500px;
    height: 200px;
    background-color: rgb(35, 71, 156);
    border-radius: 10px;
}

#onLoadContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#loadContent{
    display: flex;
    align-items: center;
}

#onLoadContainer p{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 20px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    height: 40px;
    --c:no-repeat linear-gradient(orange 0 0);
    background: var(--c),var(--c),var(--c),var(--c);
    background-size: 21px 21px;
    animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes l5 {
   0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
   33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
   66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
   100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}

#responseContent{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    flex-direction: column;align-items: center;
}

#responseContent button{
    background-color: orange;
    border: none;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(212, 212, 212, 0.603);
    border: 1px solid gray;
    font-size: 1rem;
    color: rgb(0, 7, 103);
    font-weight: bold;
    margin-top: 10px;
}

#button {
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: large;
    background-color: rgb(55, 149, 200);
    border: none;
    border-radius: 40px;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    /* margin: 0px 10px 0px 10px; */
}

#buttonDel {
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: large;
    background-color: rgb(55, 149, 200);
    border: none;
    border-radius: 40px;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 0px 0px 10px;
}

#placeholder{
    margin-right: 10px;
    height: 20px;
    border: 0;
    border-radius: 2px;
}

#textArea {
    border: 0;
}