.container {
  padding: 5px 5px; 
  width: 100%;
  box-sizing: border-box;
}

.mapWrapper {
  width: 100%;
  margin-bottom: 30px;
}

.topRegionSection {
  margin-top: 20px;
  font-family: sans-serif;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.listItem {
  background-color: #E5E7EB;
  padding: 15px 20px;
  border-radius: 8px; 
  display: block; 
  font-weight: 500;
  color: #333;
  transition: 0.2s;
}

.listItemExpand {
  background-color: #9ed8ff;
  padding: 15px 20px;
  border-radius: 8px; 
  font-weight: 500;
  color: #333;
  transition: 0.2s;
}

.listItem:hover {
  background-color: #d1d5db;
}

.listHeader{
  display: flex;
  justify-content: space-between;
}

.count {
  font-weight: bold;
  font-size: 1.1rem;
}

.seeMore {
  text-align: center;
  margin-top: 20px;
}

.seeMore a {
  color: #555;
  text-decoration: none;
  font-size: 0.9rem;
}

.listDetails{
  background-color: #c1e5ff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.type{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 0;
  border-bottom: 1px solid grey;
}

.type:hover{
  background-color: #8eaabe;
}