#button {
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: medium;
    background-color: rgb(55, 149, 200);
    border: none;
    border-radius: 30px;
    color: aliceblue;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#button:hover {
    cursor: pointer;
}

#placeholder{
    margin-right: 10px;
    height: 40px;
    border: 1;
    border-color: gray;
    border-radius: 2px;
}