#container{
    display: flex;
    height: 700px;
    margin-bottom: 20px;
}

#postContainer{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}

#postContent{
    padding: 0;
    height: 94%;
    overflow-y: auto;
    border-bottom: 1px solid black;
}

#commentContainer{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    margin-left: 10px;
}

#commentContainer p{
    margin-top: 5px;
}

#commentList{
    width: calc(100%-10px);
    height: calc(100% - 90px);
    border: 1px solid grey;
    padding: 5px;
    overflow-y: auto;
}

#account{
    height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 8px;
}

#account img{
    height: 95%;
}

#account p{
    margin-left: 10px;
    font-size: 1.0rem;
    color: rgb(85, 85, 85);
}

#explain{
    padding-top: 5px;
    font-size: 1rem;
}

#image img{
    margin-top: 10px;
    width: 100%;
}

#itemContainer{
    display:flex;
    flex-wrap: wrap;
}

#item{
    display: flex;
    background-color: rgb(9, 91, 153);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 35px;
}

#item p{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

#itemName{
    color: aliceblue;
    border-right: 1px solid aliceblue;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 5px;
}

#itemRole{
    color: aqua;
    margin-left: 5px;
}

.commentCard_user{
    color: gray;
    border-bottom: 1px solid gray;
    margin-bottom: 0;
}

#likeButton{
    margin-top: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

#likeButton img{
    height: 80%;
    padding-right: 6px;
    border-right: 1px solid black;
    margin-right: 5px;
}

#commentContainer form{
    margin-top: 5px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

#inputComment{
    width: calc(80% - 10px);
    height: 100%;
    padding: 0;
}

#sendComment{
    width: 20%;
    height: 110%;
}