#container{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 10px;
}

#header{
    padding-left: 5px;
    height: 30px;
    border-bottom: 1px solid rgb(105, 105, 105);
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

#header div{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#header img{
    height: 60%;
    margin-right: 5px;
}

#explain{
    padding: 8px;
}

#explain p{
    padding: 0;
    margin: 0;
}

#menu{
    margin-bottom: 10px;
    padding-left: 8px;
}

#viewPostContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.781);
    display: flex;
    align-items: center;
    justify-content: center;
}

#viewPostContent{
    background-color: aliceblue;
    padding: 10px;
    width: 800px;
    height: 80%;
    border-radius: 10px;
}

#viewPostScroller{
    height: 100%;
    overflow-y: auto;
}

#post{
    height: 10px;
}

#deletePopupContainer{
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(40, 40, 40, 0.781);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#deletePopup{
    background-color: aliceblue;
    width: 400px;
    padding: 25px;
    height: 200px;
}

#backButton{
    height:40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: medium;
    background-color: rgb(55, 149, 200);
    border: none;
    border-radius: 40px;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#delButton{
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: medium;
    background-color: rgb(170, 170, 170);
    border: none;
    border-radius: 40px;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
}